body {
  font: 10px sans-serif;
}
#map { height: 480px; }
svg {
	width:auto;
	float:left;
	height:auto;
}
.arc {
  stroke: #fff;
}

.legend, .controls {
	position:fixed;
	right:0;
	top:0;
	height:60px;
	background-color:white;
	border-bottom:solid black 3px;
}
.legend{
	border-bottom:none;
}
.controls{
	padding-top:10px;
	padding-left:15px;

	left:0;
}

.donut-section {
  transition: all 200ms ease;
}

.donut-section:hover {
  transform: scale(1.1);
  stroke-width: 0px;
}

.config,
.examples {
  margin: auto;
}

.config {
  max-width: 700px;
  background: #eee;
  padding: 0 1em;
}

.examples {
  text-align: center;
  position:absolute;
  top:0;
  right:0;
}