body {
  font: 18px sans-serif;
}


.arc {
  stroke: #fff;
}

.legend {
	position:fixed;
	right:0;
	top:0;
  padding-top:10px;
	height:60px;
	background-color:white;
	border-bottom:solid black 3px;
}
.legend{
	border-bottom:none;
}
.controls{
	padding-top:10px;
	padding-left:15px;

	left:0;
}
