html {
  
  background-color: darkgray;
  font-family: Tahoma, Geneva, sans-serif;
}

.arc {
  stroke: #fff;
  color:black;
}
.cntrlBtn{
  position:fixed;
  bottom:0;
  right:0;
}

  label { display: block; }
  select { font-size:18px; width: 140px; }
.svg{
  font-size: 22px;
}
.legend {
	position:fixed;
	left:10px;
	top:60px;
	background-color:dark-gray;
	border-bottom:solid black 3px;
}
.legend{
	border-bottom:none;
}

.graph{
  margin:4%;
  margin-bottom:2%;
  margin-top:0%;
}

.controls{

  position:absolute;
  bottom:0;
  left:0;
}