html {
  
  background-color: darkgray;
  font-family: Tahoma, Geneva, sans-serif;
}

.arc {
  stroke: red;
  color:black;
}
.cntrlBtn{
  position:fixed;
  top:0;
  left:0;
}

  label { display: block; }
  select { font-size:18px; width: 100px; }

.legend {
	position:fixed;
	right:0px;
	bottom:0px;
	background-color:dark-gray;
	border-bottom:solid black 3px;
}

.legend{
	border-bottom:none;
}

.graph{
  float:left;
  padding-top:2%;
  padding-left:2%;
}

.controls{

  position:fixed;
  bottom:0;
  left:0;
  background-color:gray;
  width:100%;
}

.clockhand{
  border:dashed black 1px;
  color:red;
}