<head>
  <title>datagov</title>
</head>

<body>

	{{>aggregateData}}
	{{>controls}}
</body>

<template name='controls'>
<div class="controls">
	<fieldset style="width:auto;border:none;">
		<label>start</label>
		<input type="date" class="dateStart" />
		<br/>
		<label>end</label>
		<input type="date" class="dateEnd" />
	</fieldset>
	<select class="op">
		<option>mean</option>
		<option>sumsq</option>
		<option>count</option>
		<option>max</option>
		<option>min</option>
	</select>
	<select class="resolution">
		<option>4h</option>
		<option>5m</option>
		<option>1h</option>
	</select>

	{{#unless getDataRefresh}}

	<button onClick = "Session.set('dataRefresh',true)">Force data refresh</button>
	{{else}}
	<b>Force refresh request sent</b>
	{{/unless}}

	<h4 style="position:static;right:100%;text-align:center;">
	Air /dust and noise 

	<small>Click a circle to start/stop animation.</small>

	</h4>
	<!-- select resolution -->
</div>
</template>
<template name="help">

</template>
<template name="about">
	<h2>Faq</h2>

	</template>

<template name="aggregateData">
{{#if datasetReady}}
	{{#each getSummaryData}}
		{{>singlePlot}}
	{{/each}}
{{/if}}
</template>

<template name="singlePlot">
</template>
