<head>
  <title>datagov</title>
</head>

<body>
	{{>controls}}
	{{>aggregateData}}

</body>

<template name='controls'>
<div class="controls">

	<input type="date" class="dateStart" />
	<input type="date" class="dateEnd" />
	<h4>
	Air /dust and noise 

	<small>Click a circle to start/stop animation.</small>

	</h4>
	<!-- select resolution -->
</div>
</template>


<template name="aggregateData">
{{#if datasetReady}}
	{{#each getSummaryData}}
		{{>singlePlot}}
	{{/each}}
{{/if}}
</template>

<template name="singlePlot">
	<button class="reset">reset {{city}}</button>
</template>
