<head>
  <title>datagov</title>
</head>

<body>
	{{>controls}}
	{{>aggregateData}}
	<h2>
	Air /dust and noise 
	</h2>
	<h4>
	Over time
	</h4>
	<small>Click a circle to start/stop animation.</small>
</body>

<template name='controls'>
<div class="controls">
	<input type="date" class="dateStart"/>
	<input type="date" class="dateEnd"/>
	<!-- select resolution -->
</div>
</template>


<template name="aggregateData">
{{#if datasetReady}}
	{{#each getSummaryData}}
		{{>singlePlot}}
	{{/each}}
{{/if}}
</template>

<template name="singlePlot">
	<button class="reset">reset {{city}}</button>
</template>
